html, body {
  font-family: Arial, Verdana, sans-serif;
  height: 100%;
}

#diacriticism {
  height: 100%;
}

#diacriticism #main-output {
  font-size: 38pt;
  height: 20%;
  margin: 15% 0 0 0;
  text-align: center;
  white-space: pre;
}

#diacriticism .output-grid {
  margin: 120px auto;
  width: 930px;
}

#diacriticism .output-grid .instructions {
  color: #888;
  text-align: center;
}

#diacriticism .output-grid .output {
  background: #f9f9f9;
  border: 1px solid #f9f9f9;
  float: left;
  font-size: 16pt;
  height: 25px;
  margin: 10px;
  overflow: hidden;
  padding: 70px 20px 50px 20px;
  text-align: center;
  width: 248px;
  white-space: pre;
}

#diacriticism .output-grid .output.zeroclipboard-is-hover {
  background: #ffffcc;
  border: 1px solid #ffff33;
}

#diacriticism .output-grid .output.zeroclipboard-is-active {
  background: #eee;
  border: 1px solid #f3f3f3;
}

#diacriticism .form {
  margin: 10px auto;
  width: 350px;
}

#diacriticism .input {
  font-size: 22pt;
  text-align: center;
  width: 100%;
}

#diacriticism .presets {
  margin-top: 20px;
  text-align: center;
}

#diacriticism label {
  font-size: 10pt;
}

#diacriticism select {
  font-size: 11pt;
}

#diacriticism button {
}

#diacriticism .footer {
  clear: both;
  padding: 40px;
  text-align: center;
}

#diacriticism .subdued {
  color: #999;
  font-size: 0.9em;
}

